.Sidebar {
  position: fixed;
  z-index: 1032;
  top: 0;
  right: auto;
  left: 0;
  display: block;
  visibility: visible;
  overflow-y: visible;
  width: 260px;
  height: 100vh;
  padding-right: 0;
  padding-left: 0;
  transition: 0.3s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transform: translate3d(-260px, 0, 0);
  text-align: left;
  border-top: 0;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
  .Sidebar__wrapper {
    position: relative;
    overflow: auto;
    box-sizing: border-box;
    height: calc(100vh - 80px);
    padding-bottom: 30px; }
  .Sidebar--active {
    transform: none; }
