.Sidebar {
  position: fixed;
  z-index: 1032;
  top: 0;
  right: 0;
  left: auto;

  display: block;
  visibility: visible;
  overflow-y: visible;

  width: 260px;
  height: 100vh;
  padding-right: 0;
  padding-left: 0;

  text-align: left;

  border-top: 0;

  &__wrapper {
    position: relative;

    overflow: auto;

    box-sizing: border-box;
    height: calc(100vh - 80px);
    padding-bottom: 30px;
  }
}
